:root {
  --radius: 0;
  --padding: var(--space-md);
  --accent-2: peachpuff;
  --accent-1: palevioletred;
  --brand: tomato;
  --responsive-unit: 0.5vmax;
  --brand-text-shadow: var(--accent-2) 0.1rem 0.25rem;
  --responsive-unit: 0.6vmax;
  /* --text-baseline: calc(1rem + var(--responsive-unit));
  --space-baseline: calc(1rem + var(--responsive-unit)); */

  @media (prefers-color-scheme: dark) {
    /* --accent-1: palegoldenrod;
    --accent-2: palevioletred; */
  }
}

/* YT embed container */
.responsive-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
  height: 100%;
}
/* YT  */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.page {
  margin-top: 0;
}

.card {
  border: none;
}

li {
  margin-bottom: var(--space-md);
  font-size: 3vmax;
}

li:last-child {
  margin-bottom: var(--space-md);
}

p {
  font-size: 3vmax;
}

hr {
  border-width: medium;
  margin-inline-end: 0;
  margin-inline-start: 0;
  margin-block-start: var(--space-xl);
  margin-block-end: var(--space-xl);
}

.content-grid {
  align-items: initial;
  margin-top: 0;
}

.btn {
  font: initial;
  font-family: var(--sans);
  font-size: 3vmax;
  font-weight: bolder;
  width: calc(100% - var(--space-md));
  padding: var(--space-sm);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: none;
}

.text--xxxl {
  font-size: var(--text-xxxl);
  margin: var(--space-lg) 0;
}

.title {
  font-weight: 900;
  font-style: italic;
  font-size: 5vmax;
}

.subtitle {
  font-size: 3vmax;
}

.responsive-title {
  font-size: 20vmin;
}

@media (max-width: 1200px) {
  .responsive-title {
    font-size: 15vmin;
  }
}

@media (max-width: 1000px) {
  .responsive-title {
    font-size: 12vmin;
  }
}

@media (max-width: 700px) {
  .responsive-title {
    font-size: 8vmin;
  }

  hr {
    margin-block-start: var(--space-lg);
    margin-block-end: var(--space-lg);
  }
}
