:root {
  --accent-1-light: black;
  --accent-2-light: tomato;
  --accent-1-dark: white;
  --accent-2-dark: tomato;
  --thickness: 0.7vmin;
}

/* YT embed container */
.responsive-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
  height: 100%;
}

/* YT  */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

li {
  margin-bottom: var(--space-md);
}

li:last-child {
  margin-bottom: var(--space-md);
}

.content-grid {
  align-items: initial;
  margin-top: 0;
}

a {
  text-decoration: underline;
}

div[data-reach-menu-list] {
  box-shadow: var(--elevation-3);
}

a[data-reach-menu-item][data-selected] {
  border-radius: var(--radius);
}

.figcaption {
  margin-block-start: 0;
  margin-block-end: var(--space-md);
}

.hr {
  border: calc(var(--thickness) / 2) solid var(--accent-1);
}

.brand-text-shadow {
  text-shadow: 0.25vmin 0.25vmin tomato;
}

.brand-text-shadow:hover,
.brand-text-shadow:focus {
  text-shadow: 0.15vmin 0.15vmin var(--grey);
}

.nav-link {
  margin-right: var(--space-lg);
}
